
/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;1,200;1,500&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  
}

.button-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Dos columnas */
  gap: 1rem; /* Espacio entre los botones */
  margin-top: 2rem;
}

.styled-button {
  font-size: 1.2rem;
  width: 400px;
  padding: 1.5rem 8rem; 
  border-radius: 8px;
  background-color: #5f1414; /* Color de fondo de los botones */
  color: white; /* Color del texto */
  border: none; /* Sin borde */
  cursor: pointer; /* Cursor tipo puntero */
  transition: background-color 0.3s, transform 0.2s; /* Transiciones para el hover */
}

.styled-button:hover {
  background-color: #7a1b1b; /* Color al pasar el mouse */
  transform: scale(1.05); /* Efecto de crecimiento al pasar el mouse */
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.navbar {
  background-color: #8e0707; /* Color para la barra superior */
  padding: 1rem 2rem;
  border-bottom: gainsboro;
}
